@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #f0ece3;
}

input,
button {
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}